<div class="container">
    <h3>Edit customer</h3>
    <form method="POST" action="/customer/{{customer.id}}?_method=PUT">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Enter customer username"
                value="{{customer.username}}" disabled />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input value="{{customer.email}}" type="email" class="form-control" name="email" id="email"
                placeholder="Enter customer email" required />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" name="password" id="password" placeholder="Enter customer password"
                required />
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>