{{#if message}}
<h1>{{message}} <a href="/product/create">Click here to return to create page</a></h1>
{{else}}
<h1>OK! <a href="/product/create">Click here to return to create page</a></h1>
<h2><a href="https://kneelife.id.vn/shop/">or click here to visit shop</a></h2>
{{/if}}